body{
	margin: 0;
	padding: 0;
	background-image: url("img/fondo.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

ul {
  width: 880px;
  overflow: hidden;
  margin: 0;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}



li {
  background-color: yellow;
  display: block;
  margin: 10px;
  width: 200px;
  height: 200px;
  float: left;
  box-shadow: grey 5px 5px 10px;
  background-size: 100%;
	border-radius: 30%;
}
a {
  height: 200px;
  display: block;
  text-decoration: none;
  font: bold 20px/1.5 arial, helvetica, sans-serif;
  color: white;
  text-shadow: 0 0px 5px black;
}


#a01 {
	background-image: url("img/a01.PNG");
	background-repeat:no-repeat;
	background-size: cover;
}

#a02 {
	background-image: url("img/a02.PNG");
	background-repeat:no-repeat;
	background-size: cover;
}

#a03 {
	background-image: url("img/a03.PNG");
	background-repeat:no-repeat;
	background-size: cover;
}

#a04 {
	background-image: url("img/a04.PNG");
	background-repeat:no-repeat;
	background-size: cover;
}

#a05 {
	background-image: url("img/a05.PNG");
	background-repeat:no-repeat;
	background-size: cover;
}

#a06 {
  background-image: url("img/a06.PNG");
	background-repeat:no-repeat;
	background-size: cover;
}

#a07 {
  background-image: url("img/a07.PNG");
	background-repeat:no-repeat;
	background-size: cover;
}

#a08 {
  background-image: url("img/a08.PNG");
	background-repeat:no-repeat;
	background-size: cover;
}

#a09 {
  background-image: url("img/a09.PNG");
	background-repeat:no-repeat;
	background-size: cover;
}
