body {
  background-color: rgba(99, 112, 126);
  margin: 0;
  padding: 0;
}

.scroll-h{
  background-color: #C8DAD3;
  overflow: auto;
  white-space: nowrap;
  border-bottom: solid 1rem #63707e;
  box-shadow: 0px 7px 20px 0px #63707e;
}

.scroll-h div {
  width: 12rem;
  height: 12rem;
  margin: 1rem;
  padding: 0;
  display: inline-block;
  text-align: center;
}

.scroll-v{
  background-color: #C8DAD3;
  overflow: auto;
  white-space: nowrap;
}

.sel{
  width: 13rem;
  height: 13rem;
}

.imagen{
  width: 12rem;
  height: 12rem;
  margin: 1rem;
  padding: 0;
  text-align: center;
  float: left;
}

.texto{
  width: 40rem;
  height: 12rem;
  margin: 1rem;
  padding: 0;
  float: left;
}

.texto p{
  font-size: 2rem;
  margin: 2rem;
  color: #63707E;
  font-family: 'Kanit', sans-serif;
  margin: auto;
}

.texto h2{
  font-size: 3rem;
  color: #63707E;
  font-family: 'Kanit', sans-serif;
  margin: auto;
}

img{
  width: 12rem;
  height: 12rem;
}

.volver{
  background-color: #93B5B3;
  width: 31rem;
  height: 12rem;
  position: fixed;
  top: 98rem;
  float: right;
  border-right: solid 1px #63707E;

}

.volver p{
  color: black;
  margin-top: 1rem;
  font-size: 5rem;
  margin: 2rem;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  }

  .accepta{
    background-color: #93B5B3;
    width: 31rem;
    height: 12rem;
    position: fixed;
    top: 98rem;
    left: 30rem;
    float: left;
    border-left: solid 0.5rem #63707E;

  }

  .accepta p{
    color: black;
    margin-top: 1rem;
    font-size: 5rem;
    margin: 2rem;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

a:link{
text-decoration:none;
}

.plus{
  background-size: 4rem 4rem;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
