body {
  background-color: rgba(99, 112, 126);
  margin: 0;
  padding: 0;

}

.mesas{
  background-color: #f1f1f1;
  height: 80px;
  border-radius: 20px;
  margin: 80px;
  padding: 20px;
  background-image: linear-gradient(to right, #93B5B3, #C8DAD3);
}

.container a{
  margin: 80px;
  padding: 20px;
  font-size: 2rem;
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  color:  white;
}

.cerrar {
  border: 8px solid;
  border-color:  #93B5B3;
  background-image: opacity:valor: 0;

  height: 80px;
  border-radius: 20px;
  margin: 80px;
  padding: 20px;

}


.container{
  width: 700px;
  margin: 500px auto;
  text-align: center;
}
