body {
  background-color: #C8DAD3;
  margin: 0;
  padding: 0;
}

p{
  font-size: 5rem;
  margin: 2rem;
  color: #63707E;
  font-family: 'Kanit', sans-serif;
}

.mesa p{
  height: 12rem;
  color: #63707E;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  margin: auto;
  padding-top: 2rem;
}

.mesa{
  height: 12rem;
  width: auto;
  position: sticky;
  background-color: #93B5B3;

}

.lista{
  background-color: #C8DAD3;
  height: 15rem;
  width: 40rem;
  float: left;
}

.lista p{
  margin-left: 5rem;
}

.precio{
  background-color: #C8DAD3;
  height: 15rem;
  width: 21.2rem;
  float: left;
}

.total {
  position: relative;
  top: 31rem;
  height: 10rem;
  width: 40rem;;
  margin: auto;
  background-color: #93B5B3;
  border-top: solid 0.5rem #63707E;
}

.final{
  position: relative;
  background-color: #93B5B3;
  height: 15rem;
  width: 21.2rem;
  top: 31rem;
  float: left;
  border-top: solid 0.5rem #63707E;
}



.volver{
  background-color: #63707E;
  width: 31rem;
  height: 12rem;
  position: fixed;
  top: 98rem;
  float: right;
  border-right: solid 1px #63707E;

}

.volver p{
  color: white;
  margin-top: 1rem;
  font-size: 5rem;
  margin: 2rem;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  }

  .accepta{
    background-color: #63707E;
    width: 31rem;
    height: 12rem;
    position: fixed;
    top: 98rem;
    left: 30rem;
    float: left;
    border-left: solid 0.5rem #63707E;

  }

  .accepta p{
    color: white;
    margin-top: 1rem;
    font-size: 5rem;
    margin: 2rem;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

a:link{
text-decoration:none;
}
