body {
  background-color: #222;
  color: white;
  margin:0;
  padding: 0;
  border: 0;
  font-family: Helvetica, Sans-serif;
}


.cap{
  background-color: RGB(0, 0, 0, 0.5) ;
  height: 50px;

}

.cap img{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  float: left;

}

.cap ul{
  float: left;
  margin-left: 5px;
}


.cap li{
  overflow: hidden;
  margin: 5px;
  float: left;
  list-style: none;
}



#redes{
  float: right;
}

.interessants{
  font-size: 22px;
  color: #FFF;
}

.cuerpo{
  margin-left: 10px;
  padding-left: 10px;
}

.documentals{
  float: left;
  height: 310px;
  margin-right: 20px;

}

.documentals img{
  border-radius: 5px;
}

.documentals h3{
  font-size: 14px;
  color: #CCC;
  margin:0;
  padding: 0;
  border: 0;
}

.documentals p{
  font-size: 11px;
  color: #CCC;
  float: left;
}

#derecha{
float: right;
}

.documentals2{
  font-size: 22px;
  color: #FFF;
  float: left;
  width: 100%;
}

.cuerpo{

}

.vistos{
  float: left;
  margin-top: 30px;
  height: 310px;
  margin-right: 20px;

}

.vistos img{
  border-radius: 5px;
}

.vistos h3{
  font-size: 14px;
  color: #CCC;
  margin:0;
  padding: 0;
  border: 0;
}

.vistos p{
  font-size: 11px;
  color: #CCC;
  float: left;
